<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/modifyAccount" method="GET">
        <div class="imgcontainer">
            <img src="/img/provoLogo.jpg" alt="Logo" class="logo">
        </div>
      
        <div class="container">
            <legend style="text-align: center;" class="modify">Search for your account</legend>
            <br>
            <label for="username"><b>Enter Your Username</b></label>
            <input type="text" id="username" placeholder="Enter Username" name="username" required>
            <br><br>
            <button type="submit">Save New Login</button>
        </div>
      </form>
</body>
</html>